<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcww.training.mapper.MenuMapper">
    <select id="leftTree" resultType="com.jcww.training.pojo.Power">
        select * from power
    </select>
</mapper>

