<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcww.training.mapper.OrganizingExaminationsMapper">

    <!--    //每次加载修改考试状态-->
    <!--    void  updateTestStatus();-->
    <update id="updateTestStatus">
        update test set
        teststatus =(
        case
        when NOW() &lt; teststarttime  then "1"
        when   testendtime &lt; NOW() then "3"
        else "2" end
        )
    </update>
    <!--    //组织考试全查-->
    <!--    List<Test> selectAllExaminationsBySome(@Param("teststatus") String teststatus, @Param("testname") String testname, @Param("startTime") String startTime,@Param("endTime") String endTime);-->
    <select id="selectAllExaminationsBySome" resultType="com.jcww.training.pojo.Test">
        select * from test
        where
        1=1
        <if test="teststatus!=null and teststatus!='' ">
            and teststatus = #{teststatus}
        </if>
        <if test="testname!=null and  testname!='' ">
            and testname like '%${testname}%'
        </if>
        <if test="startTime!=null and  startTime!='' ">
            and #{startTime} &lt; teststarttime
        </if>
        <if test="endTime!=null and  endTime!='' ">
            and testendtime &lt; #{endTime}
        </if>
    </select>
    <!--    //删除考试-->
    <!--    int deleteExaminationsByTestid(Long testid);-->
    <delete id="deleteExaminationsByTestid">
        delete from test where testid = #{testid}
    </delete>

    <!--    //查询单个考试信息-->
    <!--    Test selectOneExaminationsByTestId(Long testid);-->
    <select id="selectOneExaminationsByTestId" resultType="com.jcww.training.pojo.Test">
        select test.testname,test.testdate,test.teststarttime,test.testendtime,test.testtime,testpaper.passmark from test,testpaper
        where
        test.testpaperid = testpaper.testpaperid
        and
        testid = #{testid}
    </select>

    <!--    //查询单个考试参考人数-->
    <!--    Test selectOneExaminationsByTestIdCount(Long testid);-->
    <select id="selectOneExaminationsByTestIdCount" resultType="com.jcww.training.pojo.Test">
       SELECT COUNT(*) as renshu FROM test ,testuser,user WHERE test.testid = testuser.testid and user.userid= testuser.userid and test.testid = #{testid}
    </select>

    <!--    //查询单个考试考生名称-->
    <!--    List<Test> selectOneExaminationsByTestIdStu(Long testid);-->
    <select id="selectOneExaminationsByTestIdStu" resultType="com.jcww.training.pojo.Test">
       SELECT user.truename FROM test ,testuser,user WHERE test.testid = testuser.testid and user.userid= testuser.userid and test.testid = #{testid}
    </select>

    <!--    //添加考试-->
    <!--    Integer addExaminationsTest(Test test);-->
    <insert id="addExaminationsTest" parameterType="com.jcww.training.pojo.Test" keyProperty="testid"
            useGeneratedKeys="true">
        insert into test (testname, testdate, teststarttime, testendtime, teststatus, testtime) values (#{testname}, #{testdate}, #{teststarttime}, #{testendtime}, #{teststatus}, #{testtime})
    </insert>

    <!--    //查询单选个数-->
    <!--    Question selectDanxuanCount(Integer questionclassifyid);-->
    <select id="selectDanxuanCount" resultType="com.jcww.training.pojo.Question">
        SELECT COUNT( questiontype )as danxuancount FROM question WHERE questiontype = 1
        <if test="questionclassifyid!=null and questionclassifyid!='' ">
            and questionclassifyid = #{questionclassifyid}
        </if>
    </select>
    <!--    //查询多选个数-->
    <!--    Question selectDuoxuanCount(Integer questionclassifyid);-->
    <select id="selectDuoxuanCount" resultType="com.jcww.training.pojo.Question">
        SELECT COUNT( questiontype )as duoxuangeshu FROM question WHERE questiontype = 2
        <if test="questionclassifyid!=null and questionclassifyid!='' ">
            and questionclassifyid = #{questionclassifyid}
        </if>
    </select>
    <!--    //查询判读个数-->
    <!--    Question selectPanduanCount(Integer questionclassifyid);-->
    <select id="selectPanduanCount" resultType="com.jcww.training.pojo.Question">
        SELECT COUNT( questiontype )as panduangeshu FROM question WHERE questiontype = 3
        <if test="questionclassifyid!=null and questionclassifyid!='' ">
            and questionclassifyid = #{questionclassifyid}
        </if>
    </select>
    <!--    //查询填空个数-->
    <!--    Question selecttiankongCount(Integer questionclassifyid);-->
    <select id="selecttiankongCount" resultType="com.jcww.training.pojo.Question">
        SELECT COUNT( questiontype )as tiankonggeshu FROM question WHERE questiontype = 4
        <if test="questionclassifyid!=null and questionclassifyid!='' ">
            and questionclassifyid = #{questionclassifyid}
        </if>
    </select>
    <!--    //查询简答个数-->
    <!--    Question selectjiandaCount(Integer questionclassifyid);-->
    <select id="selectjiandaCount" resultType="com.jcww.training.pojo.Question">
        SELECT COUNT( questiontype )as jiandageshu FROM question WHERE questiontype = 5
        <if test="questionclassifyid!=null and questionclassifyid!='' ">
            and questionclassifyid = #{questionclassifyid}
        </if>
    </select>
    <!--    //查询所有考生（根据地名查询）-->
    <!--    List<User> selectAreaUserList(Long areaid);-->
    <select id="selectAreaUserList" resultType="com.jcww.training.pojo.User">
        SELECT userid, jobnumber , truename FROM user WHERE roleid = 3
        <if test="areaid!=null and areaid!=''">
            and areaid = #{areaid}
        </if>
    </select>

    <!--    //查询所有试题-->
    <!--    List<Question> selectQuestionList(Long questionclassifyid,Long questiontype);-->
    <select id="selectQuestionList" resultType="com.jcww.training.pojo.Question">
        SELECT questionid,questiontype,questionname,questionclassifyid,score  FROM question WHERE 1=1
        <if test="questionclassifyid!=null and questionclassifyid!=''">
            and questionclassifyid = #{questionclassifyid}
        </if>
        <if test="questiontype!=null and questiontype!=''">
            and questiontype = #{questiontype}
        </if>
    </select>

</mapper>